__pycache__/
*.pyc
venv/
.env

# Ignore only file types, not folders
*.log
*.xlsx
*.csv

# DO NOT ignore Reports or fonts (we need them)
# Reports/.gitkeep ensures folder exists

# Ignore sensitive config
config.py
config.py.bak
.streamlit/secrets.toml

# Ignore large temp folders if needed
logs/
Data/Processed files/
