__pycache__/
*.pyc
venv/
.env

# Ignore only logs & data files (not folders)
*.log
*.xlsx
*.csv

# Keep Reports folder for PDF output (use .gitkeep inside)
# Keep fonts folder for Candara.ttf
# DO NOT IGNORE THEM

# Sensitive config
config.py
config.py.bak
.streamlit/secrets.toml
